body {
  box-sizing: border-box;
  background-color: rgb(253, 66, 66);
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
header {
  padding: 5rem;
}

main {
  width: 1000px;
  height: 100%;
  margin: auto;
}

#poke-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin: 0 auto;
  overflow: auto;
  border: double 2px;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: white;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: double 2px;
}
h2 {
  position: relative;
  top: 0;
  left: 80%;
}
.card {
  box-shadow: 0 12px 24px #212529;
}
.card h3 {
  font-size: 30px;
}
.card img {
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
}
.card .type-header {
  font-size: 20px;
  background-color: #c5c5c573;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 12px #212529;
}
.card-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #fff;
  font-size: 20px;
}

.modal {
  position: fixed;
  background: #c1c7d090;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}
.popup {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, 0);
  width: 40%;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.popup-first {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popup-img {
  width: 300px;
  background-color: #fff;
  border-radius: 50%;
}
.popup h3 {
  text-align: center;
  font-size: 40px;
}
.popup h4 {
  font-size: 30px;
}
.popup-types-header {
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
.move-title {
  text-align: center;
}
.move-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.move-grid p {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.popup-stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.popup-stats h4 {
  font-size: 30px;
}
.popup-stats p {
  font-size: 25px;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
